<!-- NAV BAR COMPONENT -->
<app-nav-bar></app-nav-bar>
<!-- /NAV BAR COMPONENT -->

<!-- ******HEADER****** -->
<header class="header">
    <div class="container clearfix">
        <img data-test="image" class="profile-image rounded-circle img-fluid float-left" [src]=basicInformation$?.image alt={{basicInformation$?.fullname}} />
        <div class="profile-content float-left">
            <h1 data-test="fullname" class="name">{{basicInformation$?.fullname}}</h1>
            <h2 data-test="profile" class="desc">{{basicInformation$?.profile}}</h2>
            <ul class="social list-inline">
                <li data-test="socials" *ngFor="let social of professionalSocials$" class="list-inline-item"><a href={{social.link}}><i class={{social.fa_bootstrap}}></i></a></li>
            </ul>
        </div>
        <!--//profile-->
        <a class="btn btn-cta-primary float-right" href="#" target="_blank"><i
                class="fas fa-paper-plane"></i> Contact Me</a>
    </div>
    <!--//container-->
</header>
<!--//header-->

<div class="sections-wrapper">

    <div class="row">

        <div class="secondary col-lg-4 col-12">
            <aside class="info aside section">
                <div class="section-inner">
                    <h2 class="heading sr-only">Basic Information</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li><i class="fas fa-map-marker-alt"></i><span class="sr-only">Location:</span>
                                <span data-test="address">{{basicInformation$?.address}}</span>
                            </li>
                            <li><i class="fas fa-envelope"></i><span class="sr-only">Email:</span>
                                <a href="#">
                                    <span data-test="email">{{basicInformation$?.email}}</span>
                                </a>
                            </li>
                            <li><i class="fas fa-link"></i><span class="sr-only">Website:</span>
                                <a href="#">
                                    <span data-test="website">{{basicInformation$?.website}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--//content-->
                </div>
                <!--//section-inner-->
            </aside>
            <!--//aside-->

            <aside class="skills aside section">
                <div class="section-inner">
                    <h2 class="heading">Primary skillset</h2>
                    <div class="content">
                        <p class="intro">
                            below the skills exercised daily, either during missions to clients or in personal projects.</p>

                        <div class="skillset">

                            <div *ngFor="let item of primarySkills$" class="item">
                                <h3 class="level-title">{{item.type}}

                                    <span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="You can use the tooltip to explain more about your skill level...">
                                    {{item.occurrences}}</span></h3>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{'width': item.percentage }" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!--//level-bar-->
                            </div>



                            <p><a class="more-link" href="#"><i class="fas fa-external-link-alt"></i>More on
                                    Coderwall</a></p>
                        </div>
                    </div>
                    <!--//content-->
                </div>
                <!--//section-inner-->
            </aside>
            <!--//section-->


        </div>
        <!--//secondary-->


        <div class="primary col-lg-8 col-12">

            <section class="experience section">
                <div class="section-inner">
                    <h2 class="heading">Work Experience</h2>
                    <div class="content">

                        <div *ngFor="let experience of experiences$" class="item">
                            <h3 class="col-lg-12 title">{{experience.mission}} - <span class="col-lg-6 place">
                                <a href="#">{{experience.entreprise}}</a></span>
                                <span class="col-lg-4 year">({{experience.startDate}} - {{experience.endDate}})</span>
                                <img class="col-lg-2 logo-ssii rounded-circle" src={{experience.logo}} alt={{basicInformation$?.fullname}} />
                            </h3>

                            <p>{{experience.description}}.</p>

                            <ul *ngFor="let socle of experience.socles" class="list-group">
                                <p></p>
                                <h3 class="col-lg-12 title"><span class="col-lg-6 place">Socle {{socle.type}}</span></h3>
                                <li *ngFor="let occu of socle.occurrences" class="list-group-item d-flex">{{occu}}</li>
                            </ul>
                            <p></p>
                            <h3 class="col-lg-12 title"><span class="col-lg-6 place">Téchnologies</span></h3>
                            <ul *ngFor="let techno of experience.technologies" class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <span class="badge badge-primary badge-pill">{{techno.type}}</span> {{techno.occurrences}}
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!--//content-->
                </div>
                <!--//section-inner-->
            </section>
            <!--//section-->

        </div>
        <!--//primary-->

    </div>
    <!--//row-->

</div>
<!--//masonry-->