.tags {
    margin: 2em;
    opacity: 0.5;
    width: 90%;
    font-weight: bold;
}

.productionDate {
    float: right;
}

.recent-project-image {
    max-width: 500px;
    max-height: 600px;
    object-fit: cover;
}

.project-item-image {
    width: 20em;
    max-height: 300px;
}