<!-- NAV BAR COMPONENT -->
<app-nav-bar></app-nav-bar>
<!-- /NAV BAR COMPONENT -->

<div class="container sections-wrapper">


    <div class="row">
        <div class="primary col-lg-12 col-12">


            <section class="latest section">
                <app-home-update></app-home-update>
                <div class="section-inner">

                    <h2 class="heading">Latest Posts </h2>
                    <div class="content">

                        <div class="item featured text-center">
                            <h3 class="title"><a href="https://themes.3rdwavemedia.com/bootstrap-templates/product/appify-bootstrap-4-admin-template-for-app-developers/" target="_blank">The power of streams in Java 8</a></h3>
                            <p class="summary">The perfect tutorial to begin with Stream API Java 8</p>
                            <div class="featured-image has-ribbon">
                                <a href="https://themes.3rdwavemedia.com/bootstrap-templates/product/appify-bootstrap-4-admin-template-for-app-developers/" target="_blank">
                                    <img class="img-fluid project-image" src="assets/images/projects/java-streams/streamsJava.PNG" alt="project name" />
                                </a>
                                <div class="ribbon">
                                    <div class="text">New</div>
                                </div>
                            </div>

                            <div class="desc text-left">
                                <p>In this guide, we will study the power of Streams and introduce some situations that a developer can face daily. The Streams API provides a functional approach to process collections of objects. We have to distinguish the
                                    processing of objects and processing streams of bytes using both InputStream and OutputStream API. We consider that you have knowledge in functional programming and familiar with lambdas expressions of JAVA 8.

                                </p>
                            </div>
                            <div class="col-sm-12 tags">
                                #Steam.map() #Steam.reduce() #Steam.filter() #Steam.flatMap() #Steam.min() #Steam.max() #LambdaExpression

                            </div>
                            <!--//desc-->
                            <a class="btn btn-cta-secondary" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/velocity-bootstrap-theme-for-startup-products/" target="_blank"><i class="fas fa-thumbs-up"></i> Read article</a>
                        </div>

                        <!--//item-->
                        <hr class="divider" />

                        <div data-test="articleItem" *ngFor="let article of articles$ | async" class="item row">

                            <a class="col-md-4 col-12" href={{article.link}} target="_blank">
                                <img class="img-fluid project-image" src="{{article.image}}" alt="{{article.projectName}}" />
                            </a>
                            <div class="desc col-md-8 col-12">
                                <h3 class="title">
                                    <a href={{article.link}} target="_blank">
                                    {{article.title}}</a></h3>
                                <p class="mb-2">
                                    {{article.abstract}}</p>
                                <p><a class="more-link" href={{article.link}} target="_blank"><i class="fas fa-external-link-alt"></i>Find out more</a></p>
                            </div>
                            <!--//desc-->
                        </div>
                        <!--//item-->

                    </div>
                    <!--//content-->
                </div>
                <!--//section-inner-->
            </section>
            <!--//section-->

        </div>
        <!--//primary-->

    </div>
    <!--//row-->

</div>
<!--//masonry-->