<div class="container col-lg-12">


    <div class="row ">
        <section class="col-12 about section">
            <div class="section-inner">
                <h2 class="heading">About Hacene !</h2>
                <div class="content">
                    <p>
                        informations.presentation
                    </p>

                </div>
                <!--//content-->
            </div>
            <!--//section-inner-->
        </section>
        <!--//section-->
        <!-- /col-lg-8 -->
    </div>

    <div class="row">

        <div class="col-lg-3 col-sm-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">
                        <div href="#">skill.line <i class="fas fa-cloud"></i></div>
                        <div> <i class="fas fa-cloud"></i></div>
                    </h4>
                    <p class="card-text">skill.samples</p>
                </div>
            </div>
        </div>


    </div>

</div>